/*Foot CSS*/



footer {
  background: #202024 url('../images/vintage_speckles.png') repeat ;
  text-align: center;
  color:#000;
  padding: 3em 0;
}

footer p {
  margin:.3em 0;
}



footer .smGroup {
  text-align: center;

}


footer .smLinks {
  color:#000;
  font-size:  48px;
  margin:0 .3em;
}

footer .smLinks:hover, .smlinks:active {
  color:#e07a5f;
  transition:.2s;
}




/*Extra small devices */
@media screen and (max-height: 450px) {


}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer {
    text-align: left;

  }

  footer .smLinks {
    margin:0 .2em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
